@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #1d1d1d;
}
h1, span{
    color: white;
}
.movie-list::-webkit-scrollbar {
	display: none;
}
@media screen and (min-width: 480px) {
    .card:nth-child(7n + 1) {
        grid-column: auto/span 2;
        grid-row: auto/span 2;
    }
}

.prompt::-webkit-scrollbar {
    width: 5px;
}
 
.prompt::-webkit-scrollbar-thumb {
  background-color: #666e75;
  border-radius: 5px;
}
